/.project
/pistachotodocmd/bin/
/pistachotodocmd/build/
/pistachotodocmd/.settings/
/pistachotodocmd/.gradle/
/pistachotodocmd/.idea/
/pistachotodocmd/.project
/pistachotodoweb/bin/
/pistachotodoweb/build/
/pistachotodoweb/.settings/
/pistachotodoweb/.gradle/
/pistachotodoweb/.idea/
/pistachotodoweb/.project
/pistachotodosoap/testServer/bin/
/pistachotodosoap/testServer/build/
/pistachotodosoap/testServer/gradle/
/pistachotodosoap/testServer/.settings/
/pistachotodosoap/testServer/.gradle/
/pistachotodosoap/testServer/.idea/
/pistachotodosoap/testServer/.project
/pistachotodosoap/testServer/testServer.iml
/bin/