/pistachotodocmd/bin/
/pistachotodocmd/build/
/pistachotodocmd/gradle/
/pistachotodocmd/.settings/
/pistachotodocmd/.gradle/
/pistachotodocmd/.idea/
/pistachotodocmd/.classpath
/pistachotodocmd/.project
/pistachotodoweb/bin/
/pistachotodoweb/build/
/pistachotodoweb/gradle/
/pistachotodoweb/.settings/
/pistachotodoweb/.gradle/
/pistachotodoweb/.idea/
/pistachotodoweb/.classpath
/pistachotodoweb/.project
/pistachotodosoap/testServer/bin/
/pistachotodosoap/testServer/build/
/pistachotodosoap/testServer/gradle/
/pistachotodosoap/testServer/.settings/
/pistachotodosoap/testServer/.gradle/
/pistachotodosoap/testServer/.idea/
/pistachotodosoap/testServer/.classpath
/pistachotodosoap/testServer/.project
/pistachotodosoap/testServer/testServer.iml
/pistachotodosoap/server-ws/bin/
/pistachotodosoap/server-ws/build/
/pistachotodosoap/server-ws/gradle/
/pistachotodosoap/server-ws/.settings/
/pistachotodosoap/server-ws/.gradle/
/pistachotodosoap/server-ws/.idea/
/pistachotodosoap/server-ws/.classpath
/pistachotodosoap/server-ws/.project
/pistachotodosoap/server-ws/server-ws.iml
/pistachotodosoap/client-ws/bin/
/pistachotodosoap/client-ws/build/
/pistachotodosoap/client-ws/gradle/
/pistachotodosoap/client-ws/.settings/
/pistachotodosoap/client-ws/.gradle/
/pistachotodosoap/client-ws/.idea/
/pistachotodosoap/client-ws/.classpath
/pistachotodosoap/client-ws/.project
/pistachotodosoap/client-ws/client-ws.iml
/bin/
/build/
/gradle/
/.settings/
/.gradle/
/.idea/
/.classpath
/.project